.dvc/
.venv/
.git/
.gitignore
**/__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.dvc
data/
notebooks/
reports/
mlflow/
great_expectations/
models/*
!models/onnx/
!models/onnx/**
!models/checkpoints/
!models/checkpoints/**
